extends layout

block content
    h2 How did I become a developer?
    p=content.darkKnightRises
    p=content.myStoryIntersects
    p=content.calculatedRisk
    p=content.myFirstCodingExperience
    p=theAddictionGrew
    p=content.soIleapt
